div.api-fetcher{
    padding: 1em;
    margin: 1em auto;
    border: 1px solid black;
    background-color: cornflowerblue;
}

.coordslink{
    color: inherit;
    text-decoration: underline;
}

.coordslink:hover{
    color: white;
}